<html>
<div class="about-me-box">
    <div class="about-me-box__info">
        <h2 class="about-me-box__title">About me</h2>
        <div class="about-me-box__text-box--text-paragraph">
            <div class="about-me-box__divider"></div>
            <p class="about-me-box__text-box--text-paragraph">I work as a Front-end developer with a solid experience in
                React, Next.js, and Vue.js, both in internal projects and outsourcing projects. Throughout my journey,
                I've had the opportunity to work on a variety of initiatives, from local projects to international
                collaborations, providing web development solutions. Additionally, I have also worked with backend
                technologies such as Nest.js and TypeORM, expanding my knowledge and skills in developing full-stack web
                applications.</p>

        </div>

</html>