<html>
<div class="banner-box">
    <div class="banner-box__info">
        <div>
            <p class="text-paragraph">WEB DEVELOPER</p>
            <h2 class="text-title">William Ulguim</h2>

            <p class="text-message">I am committed to creating engaging and functional user interfaces, providing
                exceptional user experiences. I am passionate about creating high-quality digital products and I am
                always seeking new challenges.</p>
            <a href="/contactForm.html"><button class="button center-align bounce-keyframe">Contact Me</button></a>
        </div>
        <img src=@@url width="416px" height="300px" />
    </div>
</div>

</html>