<html>
<div class="banner-box">
    <div class="banner-box__info">
        <div>
            <p class="text-paragraph">WEB DEVELOPER</p>
            <h2 class="text-title">William Ulguim</h2>
           
            <p class="text-message">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
                officia consequat duis enim velit mollit. Exercitation veniam consequat sunt.</p>
                <a href="/contactForm.html"><button  class="button center-align bounce-keyframe">Contact Me</button></a>
        </div>
        <img src=@@url width="416px" height="300px" />
    </div>
</div>

</html>