<div class="footer">
    ok
    <div class="footer__icons">
        <div class="footer__icons--icon-box">
            <img class="icon" src="" width="30px" height="30px" />
            <p>GMAIL</p>
        </div>
        <div class="footer__icons--icon-box">
            <img class="icon" src="" width="30px" height="30px" />
            <p>GMAIL</p>
        </div>
        <div class="footer__icons--icon-box">
            <img class="icon" src="" width="30px" height="30px" />
            <p>GMAIL</p>
        </div>
    </div>
</div>
