<div class="footer">

    <div class="footer__icons">
        @@for(var i = 0; i < data.length; i++){
            <div class="footer__icons--icon-box">
                <a href=`+data[i].link+`>
                <img class="icon" src=`+data[i].url+` width="30px" height="30px" />
                <p> `+data[i].name+`</p></a>
            </div>
        }
    </div>
    <div class="footer__links">
        <a href="/gallery.html">Projects</a>
        <a href="/contactForm.html">Contact</a>
    </div>
    <div class="footer__copy">
        <p>© 2023 William Ulguim. All rights reserved.</p>
    </div>
</div>
