<html>
<div class="form">


    <form class="form__body">
        <div class="form__item">
            <label>Name</label>
            <input class="text-input" type="text" name="name" placeholder="Name">
        </div>
        <div class="form__item">
            <label>Email</label>
            <input class="text-input" type="email" name="email" placeholder="Name">
        </div>
        <div class="form__item">
            <label>Message</label>
            <textarea class="text-area" type="email" name="email" placeholder="Name">
                Type your message here...
            </textarea>
            
        </div>
        <div class="form__submit-area">
        <button type="submit" class="button full-width">Submit</button>
    </div>
    </form>

</div>

</html>