<html>
<div class="gallery-card">
    <div class="gallery-card__title">
        <div class="gallery-card__image">
            <div class="image"
                style="background: url('@@url')">
            </div>
        </div>
        <h1>@@title</h1>
        <div class="gallery-card__buttons">
            @@for(var i = 0; i < tecnologies.length; i++){ <button class="button">`+tecnologies[i]+`</button>
                }
        </div>
    </div>

    <div class="gallery-card__description">


        <p class="gallery-card__description--text">@@paragraph</p>

        <div class="gallery-card__description--links">
            <a href="@@github" target="_blank"><img src=@@icon alt="github"></a>
        </div>
        </div>
    </div>

</html>