<html>
<nav class="nav">

   
    <div class="nav__logo">
</div>
    <div class="nav__menu">
        <a href="/index.html">Home</a>
        <a href="/gallery.html">Projects</a>
        <a href="/contacForm.html"><button  class="button">Contact</button></a>
    </div>
    <div id="topNav" class="hideNav">
        <div class="topNav__menu">
            <a href="/index.html">Home</a>
            <a href="/gallery.html">Projects</a>
            <a href="/contacForm.html"><button  class="button">Contact</button></a>
        </div>
    </div>
</nav>

</html>