<html>
<nav class="nav">

    <img class="burguerButton" style="width: 25px; height: 25px; margin-top: auto;margin-bottom: auto;"
        src="../src/assets/img/nav.svg" alt="burguerButton" onclick="handleTopnav()">

    <div class="nav__logo">
</div>
    <div class="nav__menu">
        <a href="/index.html">Home</a>
        <a href="/gallery.html">Projects</a>
        <a href="/contacForm.html"><button  class="button">Contact</button></a>
    </div>
    <div id="topNav" class="hideNav">
        <div class="topNav__menu">
            <a href="/index.html">Home</a>
            <a href="/gallery.html">Projects</a>
            <a href="/contacForm.html"><button  class="button">Contact</button></a>
        </div>
    </div>
</nav>

</html>