<html>
<div class="projects-card">

    <div class="projects-card__title">
        <div class="projects-card__image">
            <div class="image"
                style="background: url('@@url'), lightgray 50% / cover no-repeat; background-position: center;">
            </div>
        </div>
        <h1>@@title</h1>
        <div class="projects-card__buttons">
            @@for(var i = 0; i < tecnologies.length; i++){ <button class="button">`+tecnologies[i]+`</button>
                }
        </div>
    </div>

    <div class="projects-card__description">
        <p class="projects-card__description--text">@@paragraph</p>
        <div class="projects-card__description--links">
            <a href="@@github" target="_blank"><img src=@@icon alt="github"></a>
        </div>
    </div>
</div>

</html>