@font-face {
    font-family: 'Montserrat';
    font-weight: 900;
    font-style: normal;
    src: url('../assets/fonts/Montserrat-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 900;
    font-style: italic;
    src: url('../assets/fonts/Montserrat-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: normal;
    src: url('../assets/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: italic;
    src: url('../assets/fonts/Montserrat-BoldItalic.ttf') format('truetype');
}


@font-face {
    font-family: 'Montserrat-lighter';
    font-weight: lighter;
    font-style: italic;
    src: url('../assets/fonts/Montserrat-Light.ttf') format('truetype');
}