@import 'brands';
@import 'solid';
@import 'regular';
@import 'fontawesome';
body {
    background-color: #041F31;
    font-style: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 0;
    width: 100%;
    max-width: 1900px;
    margin-inline: auto;
}

header {

    margin: 0;
    width: 100%;

}


footer {

    margin: 0;
    width: 100%;
}



.footer {
    margin-top: 100px;

    padding-bottom: 20px;

    width: 100%;

    &__icons {
        display: flex;
        flex-direction: row;
        gap: 50px;
        justify-content: center;
        margin-bottom: 20px;
        margin-top: 20px;

        &--icon-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            min-width: 70px;

            @keyframes buttonAnimation {
                0% {
                    transform: scale(1);
                }

                25% {
                    transform: scale(1);
                }

                50% {
                    transform: scale(1.1);
                }

                75% {
                    transform: scale(1.1);
                }

                100% {
                    transform: scale(1);
                }
            }

            .icon {
                margin-inline: auto;
            }

            &:hover {

                animation: buttonAnimation 2s infinite;
                -webkit-transition: background-color 2s ease-out;
                -moz-transition: background-color 2s ease-out;
                -o-transition: background-color 2s ease-out;
                transition: background-color 2s ease-out;

                p {
                    color: #00D9F5;
                }
            }

            a {
                text-decoration: none;
            }

            p {
                color: #BDEBEA;
                font-size: 12px;
                letter-spacing: 1.44px;
                line-height: 11.105px;
                text-align: center;
                text-transform: uppercase;
            }
        }
    }

    &__links {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        width: 100%;


        a {

            color: #BDEBEA;
            font-size: 14px;
            text-decoration: none;

            &:hover {
                color: #00D9F5;
                scale: 1.1;
                transition: 0.5s;
            }

        }
    }

    &__copy {
        color: var(--text, #BDEBEA);
        font-size: 14px;
        letter-spacing: 0.56px;

        line-height: 26px;
        text-align: center;
    }
}



.button {
    align-items: center;
    background: linear-gradient(to right, #00F5A0, #00D9F5);
    border: none;
    border-radius: 4px;
    color: var(--title, #1F2626);
    display: flex;
    font-family: Montserrat;
    font-size: 10px;
    justify-content: center;
    letter-spacing: 1.2px;
    line-height: 14px;
    padding: 8px 16px;
    text-align: center;
    text-transform: uppercase;

   

    a {
        color: var(--title, #1F2626);
        text-decoration: none;
    }



}

.bounce-keyframe {
    &:hover {
        animation: buttonAnimation 2s infinite;
        -webkit-transition: background-color 2s ease-out;
        -moz-transition: background-color 2s ease-out;
        -o-transition: background-color 2s ease-out;
        transition: background-color 2s ease-out;
    }
    

    @keyframes buttonAnimation {
        0% {
            // background: linear-gradient(to right, #00D9F5, #00F5A0);
            transform: scale(1);
        }

        25% {
            // background: linear-gradient(to right, #00D9F5, #00D9F5);
            transform: scale(1);
        }

        50% {
            // background: linear-gradient(to right, #00F5A0, #00F5A0);
            transform: scale(1.1);
        }

        75% {
            // background: linear-gradient(to right, #00F5A0, #00D9F5);
            transform: scale(1.1);
        }

        100% {
            // background: linear-gradient(to right, #00D9F5, #00F5A0);
            transform: scale(1);
        }
    }
}

.submit-button[disabled] {
    background: #111414 !important;
    color: #1F2626;
    cursor: not-allowed;
    opacity: 0.5;
}

.nav {
    color: var(--text, #BDEBEA);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 20px;

    @media (max-width: 768px) {
        .topNav {
            display: block !important;
        }

        .hideNav {
            display: block;
        }

        .burguerButton {
            display: block;
        }
    }

    .topNav {
        display: none;
    }

    .hideNav {
        display: none;
    }







    &__logo {
        color: white;
        width: 100px;
    }

    &__menu {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-bottom: 20px;
        margin-right: 40px;
        margin-top: 20px;
        width: 100%;

        a {
            color: white;
            font-size: 14px;
            font-weight: bold;
            margin-left: 40px;
            text-decoration: none;

            &:active {
                color: #1F2626 !important;
            }

            &:hover {
                color: #00D9F5;
                scale: 1.1;
                transition: 0.5s;
            }
        }
    }

}

a {
    text-decoration: none;
}


.full-width {
    width: 100%;
}

.center-align {
    margin-inline: auto;
}