@import 'fonts';

body {
    background-color: #041F31;
    height: 100vh;
    margin: 0;
    width: 100%;
}

header {

    margin: 0;
    width: 100%;

}


footer {

    margin: 0;
    width: 100%;
}

.nav {
    color: var(--text, #BDEBEA);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 20px;

    .topNav {
        display: none;
    }

    .hideNav {
        display: none;
    }

    .burguerButton {
        display: none;
    }



    &__logo {
        color: white;
        width: 100px;
    }

    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-bottom: 20px;
        margin-right: 40px;
        margin-top: 20px;
        width: 100%;

        a {
            color: white;
            font-size: 14px;
            font-weight: bold;
            margin-left: 40px;
            text-decoration: none;

            &:hover {
                color: #FF6B00;
                transition: 0.5s;
            }
        }
    }

    .download-button {
        background-color: #FFCC00;
        border-style: none;
        color: white;
        font-size: 14px;
        font-weight: bold;
        min-height: 48px !important;
        width: 209px;

        &:hover {
            background-color: #FF6B00;
            scale: 1.2;
            transition: 0.5s;
        }
    }
}

.banner {
    display: flex;
    margin: 0;
    width: 100%;

    .banner-box {

        margin-inline: 50px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        width: 70%;

        .text-paragraph {
            color: #D7E5EC;
            font-size: 20px;
            font-family: Tinos;
        }

        &__info {
            width: 100%;
            align-items: center;
            display: flex;
            justify-content: center;
            flex-direction: row;
            width: 100%;

            img {
                width: 50%;
                height: auto;
            }
        }

        .text-title {
            font-size: 72px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            margin: 0;
            background: linear-gradient(to right, #00F5A0, #00D9F5);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            color: linear-gradient(to right, #00F5A0, #00D9F5);
        }

        .text-message {
            display: flex;
            width: 514px;
            flex-direction: column;
            flex-shrink: 0;
            color: var(--text, #BDEBEA);
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            line-height: 24px;
            letter-spacing: 0.64px;

        }

    }

}

.about-me {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;


    }

    &__title {

        color: var(--text, #BDEBEA);
        font-size: 24px;
        font-weight: 600;
        line-height: 26px;
        letter-spacing: 0.96px;
    }

    &__text-box {
        display: flex;
        flex-direction: row;

        &--text-paragraph {
            display: flex;
            flex-direction: row;
            color: var(--text, #BDEBEA);
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            line-height: 26px;
            letter-spacing: 0.72px;

        }

    }

    &__divider {
        width: 20px;
        height: auto;
        margin-right: 5px;
        border-radius: 2px;
        background: var(--gradient, linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%));
    }


}


.photo-gallery {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.projects {
    margin-top: 100px;
    margin-bottom: 20px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-inline: auto;

}

.projects-card {
  
 
    min-height: 600px;
    border-radius: 6px;
    background: #222525;

    &__title {
        padding: 20px;
        color: var(--title, #D9F2F2);
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    &__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-inline: 20px;


        &--text {
            color: #BDEBEA;
            font-size: 12px;
            font-family: 'Montserrat', sans-serif;
            line-height: 24px;
            letter-spacing: 0.64px;

        }

    }

    &__buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 10px;

    }

    .image {
        height: 200px;
        width: auto;
        background-position: center;
        overflow: hidden;
        border-radius: 6px;
    }
}

.button {
    border: none;
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: linear-gradient(to right, #00F5A0, #00D9F5);
    color: var(--title, #1F2626);
    text-align: center;
    font-size: 10px;
    font-family: Montserrat;
    line-height: 14px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.skills {
    width: 70%;
    margin-inline: auto;
    margin-top: 100px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;

    &__box {
        flex-direction: column;
        display: flex;
        justify-content: center;
        text-align: center;

        &--title {
            color: #BDEBEA;
            text-align: center;
            font-size: 16px;
            letter-spacing: 2.166px;
            text-transform: uppercase;
        }
    }

}

.footer {
    width: 100%;
    margin-top: 100px;

    &__icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
        margin-top: 20px;
        margin-bottom: 20px;

        &--icon-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            p {
                color: #BDEBEA;
                text-align: center;
                font-size: 12px;
                line-height: 11.105px;
                letter-spacing: 1.44px;
                text-transform: uppercase;
            }
        }
    }
}