@import 'fonts';

body {
    background-color: #041F31;
    font-style: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 0;
    width: 100%;
}

header {

    margin: 0;
    width: 100%;

}


footer {

    margin: 0;
    width: 100%;
}


.banner {
    display: flex;
    margin: 0;
    width: 100%;

    .banner-box {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        margin-inline: auto;
        width: 70%;

        .text-paragraph {
            color: #D7E5EC;
            font-family: Tinos;
            font-size: 20px;
        }

        &__info {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;

            @media (max-width: 768px) {
                flex-direction: column;
            }

            img {
                height: auto;
                width: 50%;
                @media (max-width: 1100px ) and (min-width: 780px) {
                    width: 30%;
                 }
            }
        }

        .text-title {
            background: linear-gradient(to right, #00F5A0, #00D9F5);
            -webkit-background-clip: text;
            background-clip: text;
            color: linear-gradient(to right, #00F5A0, #00D9F5);
            font-family: 'Montserrat', sans-serif;
            font-size: 72px;
            font-weight: 600;
            margin: 0;
            -webkit-text-fill-color: transparent;

            
    }

    .text-message {
        color: var(--text, #BDEBEA);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        letter-spacing: 0.64px;
        line-height: 24px;


        width: 514px;

        @media (max-width: 768px) {
            width: 100%;
        }

    }

}

}

.about-me {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: 70%;

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;


    }

    &__title {

        color: var(--text, #BDEBEA);
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 0.96px;
        line-height: 26px;
    }

    &__text-box {
        display: flex;
        flex-direction: row;

        &--text-paragraph {
            color: var(--text, #BDEBEA);
            display: flex;
            flex-direction: row;
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            letter-spacing: 0.72px;
            line-height: 26px;

        }

    }

    &__divider {
        background: var(--gradient, linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%));
        border-radius: 2px;
        height: auto;
        margin-right: 5px;
        width: 20px;
    }


}


.photo-gallery {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
   
    @media (max-width: 1000px) {
        grid-template-columns: 1fr;
        margin-inline: 20px;
    }
    @media (max-width: 500px) {
      
    
        
    }


}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    margin-inline: auto;
    margin-top: 100px;
    width: 70%;

    @media (max-width: 768px) {
        width: 100%;
    }

    &--button {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        width: 100%;
    }

}

.projects-card {
    background: #222525;
    border-radius: 6px;


    min-height: 600px;

    &__title {
        color: var(--title, #D9F2F2);
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 600;
        padding: 20px;
    }

    &__description {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-inline: 20px;


        &--text {
            color: #BDEBEA;
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            letter-spacing: 0.64px;
            line-height: 24px;

        }

        &--links {
            margin-bottom: 20px;
            position: sticky;

            @keyframes buttonAnimation {
                0% {
                    transform: scale(1);
                }

                25% {

                    transform: scale(1);
                }

                50% {

                    transform: scale(1.1);
                }

                75% {

                    transform: scale(1.1);
                }

                100% {

                    transform: scale(1);
                }
            }

            &:hover {
                animation: buttonAnimation 2s infinite;
                -webkit-transition: background-color 2s ease-out;
                -moz-transition: background-color 2s ease-out;
                -o-transition: background-color 2s ease-out;
                transition: background-color 2s ease-out;
            }
        }
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 100%;

    }

    .image {
        background-position: center;
        border-radius: 6px;
        height: 200px;
        overflow: hidden;
        width: auto;
    }
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-bottom: 20px;
    margin-inline: auto;
    margin-top: 100px;
    width: 70%;

    &__box {
        display: flex;

        flex-direction: column;
        justify-content: center;
        text-align: center;

        &--title {
            color: #BDEBEA;
            font-size: 16px;
            letter-spacing: 2.166px;
            text-align: center;
            text-transform: uppercase;
        }

    }

}